/* Estilos generales */
body {
    font-family: Arial, sans-serif;
}

/* Estilo para el título y la descripción */
.col-lg-6 h2 {
    margin-top: 150px;
    font-size: 24px; /* Tamaño del texto del título */
    color: #333; /* Color del texto */
    display: flex; /* Display flex para alinear el contenido */
    align-items: center; /* Alineación vertical centrada */
    gap: 0px; /* Espacio entre el ícono y el texto */
    margin-bottom: 20px; /* Márgen inferior para separación en toda la sección */
}

.col-lg-6 p {
    font-size: 16px; /* Tamaño del texto del párrafo */
    color: #666; /* Color del texto */
    margin-bottom: 30px; /* Márgen inferior para separados */
}

/* Separación entre secciones */
.container {
    margin-bottom: 50px;
}

.carousel {
    margin-top: 150px;
    transform: translateX(250px); /* Mueve el carrusel 50px hacia la derecha */
}

/* Estilos para el carrusel */
.carousel-inner img {
    width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
    height: 500px; /* Ajusta la altura según sea necesario */
    object-fit: cover; /* Cubre el contenedor sin distorsionar la imagen */
}

/* Estilos para el carrusel con bordes redondeados y sombra */
.carousel-inner {
    border-radius: 15px; /* Ajusta este valor para cambiar el redondeo de los bordes */
    box-shadow: 16px 16px 32px rgba(78, 182, 235, 0.3); /* Incrementa los valores para una sombra más visible */
    overflow: hidden; /* Asegura que las imágenes dentro del carrusel respeten el borde redondeado */
}


/* Agregando margen entre la descripción y el carrusel */
.row > .col-lg-6 {
    margin-bottom: 200px;
}

/* Estilos para el navbar */
.navbar {
    background-color: #bc7716; /* Cambia el color de fondo del navbar */
    border-bottom: 2px solid #c76722; /* Añade un borde inferior */
    position: fixed; /* Fija la posición del navbar */
    top: 0; /* Lo coloca en la parte superior */
    width: 100%; /* Asegura que ocupe todo el ancho */
    z-index: 1030; /* Asegura que quede sobre otros elementos */
}

/* Estilos para la imagen del logo */
.navbar-brand img {
    margin-left: 30px; /* Ajusta este valor para mover la imagen hacia la derecha */
}

.navbar .nav-link {
    color: #ffffff; /* Cambia el color del texto de los enlaces */
}

.navbar .nav-link:hover {
    color: #fbc02d; /* Cambia el color del texto de los enlaces cuando se pasa el ratón por encima */
}

/* Estilos para el botón de iniciar sesión/registrarse */
.btn-outline-primary {
    color: #ffffff;
    border-color: #bc7716;
    white-space: nowrap; /* Evita que el texto se corte en varias líneas */
}

.btn-outline-primary:hover {
    color: #00695c;
    background-color: #fbc02d;
    border-color: #fbc02d;
}

/* Estilo del icono de WhatsApp */
.whatsapp-chat {
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
    z-index: 1000;
    background-color: #e8d0df; /* Fondo blanco para mejor visibilidad */
    border-radius: 50px; /* Bordes redondeados */
    padding: 10px; /* Espaciado interno */
    box-shadow: 0 4px 8px rgba(162, 72, 72, 0.1); /* Sombra para destacar */
  }
  
  .whatsapp-chat span {
    display: block;
    font-size: 0.9rem;
    color: #333;
    margin-bottom: 5px;
  }
  
  body.dark-mode .whatsapp-chat span {
    color: #f9f9f9;
  }
  
  .whatsapp-chat a {
    text-decoration: none;
    color: #25d366;
    font-size: 2.5rem;
  }
  
  .whatsapp-chat a:hover {
    color: #128c7e;
  }