body {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.5)), url(../img/fondo.png);
    background-blend-mode: overlay;
}
 
/* Estilo para el título y la descripción */
/* Estilo para el título */
.col-lg-6 h2 {
    font-family: "Old English Text MT", serif;
    margin-top: 150px;
    font-size: 50px;
    color: #000000;
    display: flex;
    align-items: center;
    gap: 0px;
    margin-bottom: 20px;
}


.col-lg-6 p {
    font-size: 16px; /* Tamaño del texto del párrafo */
    color: #000000; /* Color del texto */
    margin-bottom: 30px; /* Márgen inferior para separados */
    display: flex; /* Display flex para alinear el contenido */
}

/* Animación para el título */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Aplica la animación al título */
.col-lg-6 h2 {
    font-family: "Felipa", serif;
    animation: fadeInUp 2.5s ease-out; /* Duración y tipo de animación */
    animation-delay: 0.5s; /* Retraso para que la animación empiece después de medio segundo */
}

/* Separación entre secciones */
.container {
    margin-bottom: 50px;
}

.carousel {
    margin-top: 150px;
    transform: translateX(50px); /* Mueve el carrusel hacia la derecha */
}

/* Estilos para el carrusel */
.carousel-inner img {
    width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
    height: 500px; /* Ajusta la altura según sea necesario */
    object-fit: cover; /* Cubre el contenedor sin distorsionar la imagen */
}

/* Estilos para el carrusel con bordes redondeados y sombra */
.carousel-inner {
    border-radius: 15px; /* Ajusta este valor para cambiar el redondeo de los bordes */
    box-shadow: 16px 16px 32px rgba(149, 3, 156, 0.3); /* Incrementa los valores para una sombra más visible */
    overflow: hidden; /* Asegura que las imágenes dentro del carrusel respeten el borde redondeado */
}


/* Agregando margen entre la descripción y el carrusel */
.row > .col-lg-6 {
    margin-bottom: 200px;
}

/* Estilos para el navbar */
.navbar {
    display: flex;
    justify-content: space-between; /* Espaciar entre inicio y los elementos */
    align-items: center; /* Alinear verticalmente los ítems */
    padding: 10px; /* Ajustar padding según sea necesario */
    background-color: #18130f; /* Cambia el color de fondo del navbar */
    border-bottom: 2px solid #fafafa; /* Añade un borde inferior */
    position: fixed; /* Fija la posición del navbar */
    top: 0; /* Lo coloca en la parte superior */
    width: 100%; /* Asegura que ocupe todo el ancho */
    z-index: 1030; /* Asegura que quede sobre otros elementos */
}

/* Estilo para los enlaces del navbar */ 
.navbar-nav .nav-link { 
    font-family: "Big Shoulders Inline Display", serif;
    font-size: 1.3rem; /* Ajusta el tamaño de la fuente aquí */
    color: white; /* Color del texto */ 
    text-decoration: none; /* Remover subrayado */ 
    margin: 0 15px; /* Espaciado entre elementos */
    padding: 10px 15px; /* Añadir padding para mejorar la experiencia de usuario */
    border-radius: 10px; /* Bordes redondeados */
    border: 2px solid transparent; /* Definir el borde inicialmente como transparente */
    transition: background-color 0.3s ease, border 0.3s ease; /* Transiciones suaves */
}

/* Efecto al pasar el cursor con difuminado */
.navbar-nav .nav-link:hover {
    background: radial-gradient(circle, rgb(86, 84, 86) 0%, rgb(117, 112, 115) 100%);
    border-color: transparent; /* Sin borde para un efecto más suave */
    color: rgb(18, 18, 18); /* Color del texto */
}


/* Ajustar el Login/Register Button al final */ 
.navbar .ml-auto { 
    margin-left: 5px;
    display: flex; 
    align-items: center; /* Centrar verticalmente */ 
} 

.navbar .btn { 
    margin-left: 15px; /* Espaciar botón de los enlaces */ 
}

/* Estilos para la imagen del logo */
.navbar-brand img {
    margin-left: 10px; /* Ajusta este valor para mover la imagen hacia la derecha */
}

/* Estilos para el botón de iniciar sesión/registrarse */
.btn-outline-primary {
    color: #d17a07;
    border-color: #2d261c;
    white-space: nowrap; /* Evita que el texto se corte en varias líneas */
}
/*
.btn-outline-primary:hover {
    color: #00695c;
    background-color: #fbc02d;
    border-color: #fbc02d;
}
*/
/* Estilos para la sección de información */
.informacion {
    padding: 40px 0;
    text-align: center;
}

.informacion .image-container {
    position: relative;
    display: inline-block;
}

.informacion .image-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 0 30px rgba(0, 0, 64, 0.4), 0 0 60px rgba(0, 0, 128, 0.3), 0 0 100px rgba(0, 0, 255, 0.2);    z-index: -1;
    transform: scale(1.05); /* Aumenta el tamaño de la sombra */
    transition: transform 0.3s ease;
}

.informacion img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    display: block;
}

.informacion .image-container:hover::before {
    transform: scale(1.1); /* Da un efecto sutil al hacer hover */
}

.informacion h3 {
    font-family: 'Permanent Marker', cursive;
    margin-bottom: 15px;
}

.informacion p {
    font-size: 1rem;
    line-height: 1.5;
    color: #333; /* Color del texto */
}

/* Ajustes responsivos para móviles */
@media (max-width: 768px) {
    .informacion img {
        margin-bottom: 20px;
    }
}

/* Estilo del icono de WhatsApp */
.whatsapp-chat {
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
    z-index: 1000;
    background-color: #e8d0df; /* Fondo blanco para mejor visibilidad */
    border-radius: 50px; /* Bordes redondeados */
    padding: 10px; /* Espaciado interno */
    box-shadow: 0 4px 8px rgba(162, 72, 72, 0.1); /* Sombra para destacar */
  }
  
  .whatsapp-chat span {
    display: block;
    font-size: 0.9rem;
    color: #333;
    margin-bottom: 5px;
  }
  
  body.dark-mode .whatsapp-chat span {
    color: #f9f9f9;
  }
  
  .whatsapp-chat a {
    text-decoration: none;
    color: #25d366;
    font-size: 2.5rem;
  }
  
  .whatsapp-chat a:hover {
    color: #128c7e;
  }

/* Estilo para el título */
.mt-5 {
    font-family: "Big Shoulders Inline Display", serif;
    font-size: 4.5rem; /* Ajustar el tamaño de la fuente */
    text-align: center; /* Centrar el texto */
    transition: color 0.3s ease, border 0.3s ease; /* Transiciones suaves */
}

/* Efecto al pasar el cursor */
.mt-5:hover {
    color: #c76722; /* Cambia el color al pasar el cursor */
}

/* Scrollbar personalizado */

/* Fondo del scrollbar */
::-webkit-scrollbar {
    width: 12px; /* Ancho del scrollbar */
    background-color: #212529; /* Color de fondo */
  }
  
  /* Track bar */
  ::-webkit-scrollbar-track {
    background-color: #5f6163; /* Color de la pista */
  }
  
  /* Handle bar */
  ::-webkit-scrollbar-thumb {
    background-color: #dedfe2; /* Color de la manija */
    border-radius: 10px; /* Bordes redondeados */
    border: 2px solid #212529; /* Borde alrededor */
  }
  
  /* Handle bar (Hover) */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #0a58ca; /* Color de la manija al pasar el ratón */
  }
  