body {
    background: linear-gradient(135deg, #2e0632, #71014c);
    color: #fff;
}

.login-box {
    background: rgba(0, 0, 0, 0.7);
    padding: 45px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.login-box h1 {
    margin-bottom: 20px;
}

.form-control {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    color: #fff;
}

.form-control::placeholder {
    color: #ccc;
}

.btn-primary {
    background: linear-gradient(135deg, #cb6008, #ff4b2b);
    border: none;
}

/* Estilos personalizados para el título del modal */
.swal2-title {
    color: #000000; /* Cambia el color del título */
    font-size: 1.5em; /* Ajusta el tamaño de la fuente */
  }
  
  /* Estilos personalizados para el botón */
  .swal2-confirm {
    background-color: #da731f !important; /* Color de fondo del botón */
    border: none; /* Sin borde */
    border-radius: 0.30em; /* Bordes redondeados */
    padding: 10px 20px; /* Ajusta el espaciado */
    font-size: 1em; /* Tamaño de la fuente */
    cursor: pointer; /* Cambia el cursor al pasar el ratón */
  }
  /* Ajustes de animaciones */
  .swal2-popup {
    -webkit-animation: animate__animated animate__fadeInDown; /* Animación de entrada */
    animation: animate__animated animate__fadeInDown;
  }
  