/* Fuente personalizada */
@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');

/* Estilos globales */
body {
    font-family: 'Pirata One', cursive;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #343a40;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative; /* Asegura la posición relativa */
}

.header .logout-btn {
    position: absolute; /* Posición absoluta para el botón */
    top: 50%; /* Centrado verticalmente */
    right: 20px; /* Distancia desde el lado derecho */
    transform: translateY(-50%); /* Ajusta el centrado vertical */
    background-color: #0d6efd;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.sidebar {
    background-color: #212529;
    color: white;
    height: 100vh;
}

.sidebar .nav-link {
    color: white;
    padding: 10px 0;
    display: block;
    text-decoration: none;
}

.sidebar .nav-link:hover {
    background-color: #378add;
    border-radius: 3.5px;
}

.main-content {
    margin-left: 200px;
    padding: 20px;
}

.btn {
    background-color: #0d6efd;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
}

/* Estilos de la tabla */
table {
    width: auto;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ab1b1b;
}

th, td {
    padding: 15px;
    text-align: left;
}

th {
    background-color: #68a36b;
    color: rgb(0, 0, 0);
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Scrollbar personalizado */

/* Fondo del scrollbar */
::-webkit-scrollbar {
    width: 12px; /* Ancho del scrollbar */
    background-color: #212529; /* Color de fondo */
  }
  
  /* Track bar */
  ::-webkit-scrollbar-track {
    background-color: #343a40; /* Color de la pista */
  }
  
  /* Handle bar */
  ::-webkit-scrollbar-thumb {
    background-color: #0d6efd; /* Color de la manija */
    border-radius: 10px; /* Bordes redondeados */
    border: 2px solid #212529; /* Borde alrededor */
  }
  
  /* Handle bar (Hover) */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #0a58ca; /* Color de la manija al pasar el ratón */
  }
  
  /* Boton de agregar producto */
  button.noselect {
    width: 115px;  /* Ajustar el ancho del botón */
    height: 35px;  /* Ajustar la altura del botón */
    cursor: pointer;
    display: flex;
    align-items: center;
    background: #00a600;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
    background: #00a600;
    margin-bottom: 25px;  /* Ajusta el margen inferior para separar el botón de la tabla */
  }
  
  button,
  button span {
    transition: 200ms;
  }
  
  button .text {
    transform: translateX(25px);  /* Ajustar la posición del texto */
    color: white;
    font-weight: bold;
    font-size: 12px;  /* Ajustar el tamaño de la fuente */
  }
  
  button .icon {
    position: absolute;
    border-left: 1px solid #007300;
    transform: translateX(75px);  /* Ajustar la posición del icono */
    height: 30px;  /* Ajustar la altura del icono */
    width: 30px;  /* Ajustar el ancho del icono */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  button svg {
    width: 12px;  /* Ajustar el tamaño del SVG */
    fill: #eee;
  }
  
  button:hover {
    background: #00a600;
  }
  
  button:active {
    background: #00cc00;
  }
  
  button:hover .text {
    color: transparent;
  }
  
  button:hover .icon {
    width: 100px;  /* Ajustar el ancho del icono en hover */
    border-left: none;
    transform: translateX(0);
  }
  
  button:focus {
    outline: none;
  }
  
  button:active .icon svg {
    transform: scale(0.8);
  }
  
  .buttonSpan {
    color: white;
    margin: 100px;  /* Ajustar el margen del botón */
    font-size: 20px;  /* Ajustar el tamaño de la fuente del span */
  }
  