body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    padding-top: 70px;
    /* Deja espacio para el navbar fijo */
    background: linear-gradient(45deg, #1a1919, #313030, #555454);
    /* Gradiente de fondo */
    background-size: 300% 300%;
    animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.main-header {
    background-image: url('../img/fondoo.jpg');
    background-size: cover;
    background-position: center;
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 82, 2);
    text-align: center;
    margin-top: 0px;
    font-size: 25px; /* Tamaño de la letra */
    /* Espacio entre navbar y imagen */
    font-family: "Old English Text MT", serif;

}

.header-content h1 {
    font-size: 3em;
    margin: 0;
}

.header-content h2 {
    font-size: 2em;
    margin: 0;
}

.info-section {
    padding: 20px;
    text-align: center;
    
}

.custom-font {
    font-family: 'Great Vibes', cursive; /* Fuente personalizada */
    margin-top: 20px;
    text-align: center; /* Alinea el texto al centro, si es necesario */
    font-size: 35px; /* Tamaño de la letra */
    color: #070707;  /* Cambia el color del texto */
}

.cards-section h3 {
    font-family: "Old English Text MT", serif;
    font-size: 34px; /* Tamaño de letra */
    color: #110f0f; /* Color de letra */
    text-align: center; /* Centrar texto */
    margin-top: 15px; /* Espaciado superior */
}

/*Secciones para tipos de productos*/
.cards-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 35px;
    border-radius: 3px;
    margin-bottom: 100px;
}

.card-cat {
    width: 200px;
    text-align: center;
    transition: transform 0.3s;
    margin: 15px;
}

.card-cat img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 3px;
}

.card-cat:hover {
    transform: scale(1.1);
}

.card-cat h3 {
    margin-top: 10px;
}

/* Estilos para el navbar */
.navbar {
    background-color: #333 !important;
    /* Color de fondo del navbar */
    padding: 10px 20px;
    /* Espaciado interno */
    position: fixed;
    /* Fijar el navbar en la parte superior */
}

.navbar .navbar-brand {
    color: #eee7e0 !important;
    /* Color del texto de Deja Vu */
    font-size: 1.5em;
    /* Tamaño del texto de la marca */
    font-weight: bold;
    /* Peso de la fuente */
}

.navbar .navbar-brand:hover {
    color: #c04c16 !important;
    /* Color del texto de la marca al pasar el mouse */
}

.navbar .navbar-nav .nav-item .nav-link {
    color: #eee7e0 !important;
    /* Color de los enlaces */
    font-size: 1.2em;
    /* Tamaño del texto de los enlaces */
    margin-right: 15px;
    /* Espaciado entre enlaces */
}

.navbar .navbar-nav .nav-item .nav-link:hover {
    color: #c04c16 !important;
    /* Color de los enlaces al pasar el mouse */
}

.navbar .form-inline .form-control {
    border: 2px solid #c04c16;
    /* Borde de la barra de búsqueda */
    border-radius: 25px;
    /* Bordes redondeados */
    padding: 5px 10px;
    /* Espaciado interno */
}

.navbar .form-inline .btn {
    background-color: #c04c16 !important;
    /* Color de fondo del botón */
    border: none;
    /* Sin borde */
    border-radius: 25px;
    /* Bordes redondeados */
    color: #e9e0e0 !important;
    /* Color del texto del botón */
    padding: 5px 15px;
    /* Espaciado interno */
    margin-left: 10px;
    /* Espacio entre la barra de búsqueda y el botón */
}

.navbar .form-inline .btn:hover {
    background-color: #fad0c4 !important;
    /* Color de fondo del botón al pasar el mouse */
}

.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.5);
    /* Color del borde del botón de toggle */
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
    /* Imagen SVG personalizada para el ícono del toggle */
    filter: invert(100%);
    /* Invertir el color del ícono para que sea visible sobre fondo oscuro */
}

/* Estilo para la barra de navegación colapsada */
.navbar-collapse {
    background-color: #333;
    /* Asegurarse de que el fondo del menú colapsado coincida con el navbar */
}

/* Estilos para las secciones donde se muestran todos los productos en una card personalizada */
.card {
    width: 250px;
    height: 480px;
    padding: .8em;
    background-color: #7c858a !important; /* Usar !important para forzar el estilo si es necesario */    position: relative;
    overflow: hidden; /* Cambiado a hidden para evitar el desbordamiento */
    box-shadow: 0 1px 3px rgba(133, 6, 6, 0.12), 0 1px 2px rgba(223, 53, 53, 0.24);
    margin: 10px; /* Ajusta este valor según sea necesario */
    display: flex;
    flex-direction: column; /* Asegura que el contenido se disponga en columna */
    justify-content: space-between; /* Distribuir espacio equitativamente entre elementos */
}

.card-img {
    background-color: #f38236; /* Color de fondo del área de la imagen */
    background-position: center;
    height: 40%; /* Altura establecida al 60% de la tarjeta */
    width: 100%; /* Ancho completo de la tarjeta */
    object-fit: cover; /* Asegura que la imagen cubra el contenedor manteniendo sus proporciones */
    border-radius: .5rem; /* Esquinas redondeadas */
    transition: .3s ease; /* Transición suave para el efecto hover */
    background-size: cover;
}

.card-info {
    padding: 1em; /* Ajusta el relleno según sea necesario */
    flex-grow: 1; /* Permite que .card-info crezca para ocupar el espacio disponible */
}

svg {
    width: 20px;
    height: 20px;
}

.card-footer {
    width: 100%; /* Ancho completo del footer */
    display: flex; /* Usar flexbox para la alineación */
    justify-content: space-between; /* Espacio entre los elementos */
    align-items: center; /* Alinear los elementos verticalmente en el centro */
    padding-top: 5px; /* Relleno superior */
    border-top: 1px solid #ddd; /* Borde superior */
    margin-top: 1px; /* Margen superior para bajar el footer */
    position: absolute; /* Fija el footer al fondo de la tarjeta */
    bottom: 0; /* Lo coloca en la parte inferior de la tarjeta */
    left: 0;
    right: 0;
    background-color: #799aad !important; /* Usar !important para forzar el estilo si es necesario */}


/*Text*/
.text-title {
    font-weight: 900;
    font-size: 1.2em;
    line-height: 1.5;
}

.text-body {
    font-size: .9em;
    padding-bottom: 5px;
}

/*Button*/
.card-button {
    border: 1px solid #252525;
    display: flex;
    padding: .3em;
    cursor: pointer;
    border-radius: 50px;
    transition: .3s ease-in-out;
}

/*Hover*/
.card-img:hover {
    transform: translateY(-10%);
    box-shadow: rgba(3, 101, 180, 0.959) 0px 13px 47px -5px, rgba(2, 70, 116, 0.3) 0px 8px 16px -8px;
}

.card-button:hover {
    border: 1px solid #ffcaa6;
    background-color: #e06817;
}

.product-section button {
    background-color: #b65616;
    border: none; /* Eliminé el borde de 3px para mayor claridad */
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px auto; /* Centra el botón horizontalmente */
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrará los elementos horizontalmente */
    justify-content: center; /* Centrará los elementos verticalmente */
}

.product-section button:hover {
    background-color: #a8540e
}

/* Contenedor para las cards de productos */
.productos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 10px;
    margin-bottom: 40px;
}

.product-section h2 {
    font-family: 'Great Vibes', cursive; /* Tipo de letra */
    font-size: 40px; /* Tamaño de letra */
    color: #000000; /* Color de letra */
    text-align: center; /* Centrar texto */
    margin-top: 80px; /* Espaciado superior */
    margin-bottom: 2px; /* Espaciado inferior */
}

/* Track bar */
::-webkit-scrollbar-track {
    background-color: #343a40;
    /* Color de la pista */
}

/* Handle bar */
::-webkit-scrollbar-thumb {
    background-color: #0d6efd;
    /* Color de la manija */
    border-radius: 10px;
    /* Bordes redondeados */
    border: 2px solid #212529;
    /* Borde alrededor */
}

/* Handle bar (Hover) */
::-webkit-scrollbar-thumb:hover {
    background-color: #0a58ca;
    /* Color de la manija al pasar el ratón */
}